
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dosis:wght@200..800&display=swap');


body {
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hbox {
    width: 80%;
    height: 50%;
    text-align: center;
    padding: 45px;
    position: absolute;
    top: 25%;
    left: 13%;
    font-family: 'Dosis', sans-serif;
}

.welcome {
    font-weight: bolder;
}